extends ../base.pug

block content
    if errorMessage
        span=errorMessage
    h4 Edit Profile
    div
        form(method="POST") 
            input(type="email" name="email",required, value=user.email, placeholder="email")
            input(type="text", name="username",required, value=user.username, placeholder="username")
            input(type="text" name="nickname",required value=user.nickname, placeholder="nickname")
            input(type="text", name="location", value=user.location, placeholder="location")
            input(type="submit", value="Edit")
    if !user.socialOnly
        br
        a(href="change-password") Change password &rarr;