mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb
        div.video-mixin__info
            span.video-mixin__title=video.title
            div.video-mixin__meta
                if !video.owner.nickname
                    span #{user.nickname}
                else
                    span #{video.owner.nickname}
                br  
                span #{video.meta.views} #{video.meta.views ===1 || video.meta.views ===0 ? "view" : "views"}     