extends base.pug

block content
    video(src="/"+ video.fileUrl)
    div
        button#play play
        button#mute mute
        input(type="range",step="0.01", min="0", max="1" value="0.5")#volume
        div
            span#connectTime 00:00
            span    /  
            span#totalTime 00:00
        div
            input(type="range",step="1", min="0", value="0")#timeLine
    //- div
            p=video.description
            small=video.createdAt
        div
            small Uploaded by
                a(href=`/users/${video.owner._id}`) #{video.owner.username}
            p #{video.meta.views} #{video.meta.views ===1 || video.meta.views===0 ? "view" : "views"}
            hr
        if String(video.owner._id) === String(user._id)
            a(href=`${video.id}/edit`) Edit video &rarr;
block scripts
    script(src="/static/js/videoPlayer.js")