extends base.pug

block content
    div
        video(src="/"+ video.fileUrl, controls) 
        p=video.description
        small=video.createdAt
        p #{video.meta.views} #{video.meta.views ===1 || video.meta.views===0 ? "view" : "views"}
        hr
    a(href=`${video.id}/edit`) Edit video &rarr;